*.o
*.so
*.pyc
_duel.cpp
script
expansions
game.db
*.mo
*.pot
locale/*.cdb
locale/en/*.cdb
locale/de/*.cdb
locale/es/*.cdb
locale/fr/*.cdb
locale/it/*.cdb
locale/ja/*.cdb
locale/pt/*.cdb
locale/th/*.cdb
lflist.conf
locale/en/strings.conf
