attrs==17.2.0
twisted==18.4.0
git+git://github.com/chrisnorman7/game-server-base.git@e2d0f12912bea56796e9b7fe7ab7ac8d2bae1311
cffi
autobahn==17.9.2
natsort==5.1.0
passlib==1.7.1
pyopenssl==17.3.0
sqlalchemy==1.1.14
alembic==0.9.6
Babel
